:root {
    --main-font: 'Montserrat', sans-serif;
    --second-font: 'Roboto', sans-serif;
    --last-font: 'Kaushan Script', cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

._cont {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}



/* HEADER */
.header_container {
    display: flex;
    justify-content: space-between;
    padding: 28px;
    align-items: baseline;
    padding-bottom: 125px;
}

.logo {
    font-family: var(--main-font);
    font-weight: bold;
    color: rgb(149, 225, 211);
    font-size: 30px;
}

.nav__header {
    display: flex;  
}

.nav__ul {
    display: flex;
    width: 490px;
    justify-content: space-between;
}

.nav__link {
    font-family: var(--main-font);
    font-weight: normal;
    color: rgb(149, 225, 211);
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
}

.nav__link:hover {
    color: rgb(243, 129, 129);
}

.nav__link:hover::after {
    opacity: 1;
    visibility: visible;
}

.nav__link::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    bottom: -10px;
    background-color: rgb(243, 129, 129);
    margin-top: 10px;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s linear;
}

/* SERVICES */
.section__cont__name {
    width: 380px;
    margin: 0 auto;
}

.section__cont__name::after {
    content: '';
    background-color: rgb(243, 129, 129);
    width: 60px;
    height: 3px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
}

.section__name {
    font-family: var(--main-font);
    font-size: 30px;
    color: rgb(51, 51, 51);
    text-transform: uppercase;
    font-weight: bold;
}

.different__style {
    display: block;
    font-family: var(--last-font);
    font-size: 24px;
    color: rgb(51, 51, 51);
    text-transform: none;
    font-weight: normal;
    margin-bottom: 10px;
}

.section__name::first-letter {
    text-transform: uppercase;
}



/* SERVICES LIST */
.services {
    margin-bottom: 85px;
}

.services__list {
    margin-top: 65px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services__list__item {
    padding-left: 60px;
    max-width: 380px;
    margin-bottom: 90px;
    text-align: left;
}

._no1 {
    background-image: url(./images/ALARM_01.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}

._no2 {
    background-image: url(./images/LINE\ GRAPH_02.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}

._no3 {
    background-image: url(./images/COMPUTER\ _\ OK_03.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}

._no4 {
    background-image: url(./images/BOOK\ 2_04.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}

._no5 {
    background-image: url(./images/HOME_05.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}

._no6 {
    background-image: url(./images/IMAGE_06.png);
    background-repeat: no-repeat;
    margin-left: 20px;
}



.services__list__item__title {
    font-family: var(--main-font);
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
    margin-bottom: 15px;
}

  

.services__list__item__text {
    font-family: var(--second-font);
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 1.6;

}


/* TEAM LIST */
.team {
    padding-bottom: 85px;
}

.team__header__text {
    font-family: var(--second-font);
    margin-top: 45px;
    font-size: 15px;
    color: rgb(153, 153, 153);
}

.team__list {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.team__list__item {
    max-width: 380px;
}

.team__image {
    position: relative;
    transition: transform 200ms linear, box-shadow 200ms linear;
}

.team__image:hover {
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px rgb(149, 225, 211);
}

.overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms linear, visibility 200ms linear;
}

.overlay__list {
    display: flex;
}

.team__image:hover .overlay {
    opacity: 1;
    visibility: visible;
}

.overlay__list__icon:not(:last-child) {
    margin-right: 1px;
}

.overlay__link {
    background-color: rgb(252, 227, 138);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 56px;
    height: 56px;
    transition: background-color 200ms linear;
}

.overlay__link:hover {
    background-color: rgb(149, 225, 211);
}

.overlay__link__facebook {
    background-image: url(./images/facebook.png);
}

.overlay__link__tweeter {
    background-image: url(./images/twitter.png);
}

.overlay__link__pinterest {
    background-image: url(./images/pinterest.png);
}

.overlay__link__instagram {
    background-image: url(./images/instagram.png);
}

.team__list__item__name {
    font-family: var(--main-font);
    margin-top: 30px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgb(51, 51, 51);
}

.team__list__item__profession {
    margin-top: 15px;
    font-family: var(--second-font);
    color: rgb(153, 153, 153);
    font-style: italic;
}


/* FOOTER */
.footer {
    font-family: var(--main-font);
    font-size: 14px;
    line-height: 1.2;
    background-color: rgb(255, 255, 255);
    color: rgb(51, 51, 51);
    text-align: left;
    padding-top: 110px;
    padding-bottom: 24px;
}

.footer__content {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.design__link {
    color: rgb(243, 129, 129);
}

.contact__form {
    display: flex;
}

.contact__form__input {
    height: 40px;
    width: 230px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 12px;
    border: 1px solid rgb(217, 217, 217);
    outline: 0;
}

.contact__form__input::placeholder {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    font-style: italic;
    color: rgb(217, 217, 217);
    font-weight: 300;
}

.contact__form__btn {
    font-family: var(--main-font);
    text-transform: uppercase;
    height: 40px;
    width: 150px;
    border: none;
    background-color: rgb(149, 225, 211);
    font-weight: 700;
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 1.2;
    outline: 0;
}

.footer::before {
    display: block;
    content: '';
    width: 100%;
    height: 1px;
    background-color: rgb(229, 229, 229);
    margin-bottom: 10px;